.vscode
.idea
__pycache__
build
dist
ocred.egg-info
OCR.png
output.txt
audio.mp3
preprocessed.png
scanned.png
thick_font.png
noise_free.png
.coverage
.env
ocred/version.py
.pytest_cache
site/
.nox/
.mypy_cache/
